<footer class="footer" id="footer">
    <p class="text-center">
        Back to <a href="/jokes">ALL JOKES</a>
    </p>
    <div class="container text-center">
        site by crazpicc
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>