* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

:root {
    --color1: greenyellow;
    --color2: #70161e;
}

.header {
    padding: 15px 0;
    background-color: var(--color1);
}

.h1-heading {
    font-size: 50px;
    /* text-shadow: 2px 2px 2px greenyellow; */
}

.top-link:hover {
    color: #70161e;

}
.main {
    color: white;
    margin: 20px 0;
    padding: 15px 0;
}

.footer {
    color: greenyellow;
    padding: 20px 0;
}